.w-message {
  padding: 10px 15px;
  position: relative;
  margin-bottom: 10px;
  border-radius: 5px;
}
.w-message-title,
.w-message-description {
  display: block;
}
.w-message-description {
  color: rgba(0, 0, 0, 0.65);
}
.w-message-title {
  color: rgba(0, 0, 0, 0.85);
}
.w-message-success {
  background: #afecbd;
}
.w-message-warning {
  background: #fff4d3;
}
.w-message-info {
  background: #bde4ff;
}
.w-message-error {
  background: #fae3e5;
}

