.w-split {
  height: 100%;
  display: flex;
  flex-direction: row;
}
.w-split-bar {
  flex-direction: column;
  justify-content: center;
  display: flex;
  background: #f8f8f9;
}
.w-split-bar::before,
.w-split-bar::after {
  content: '';
  display: block;
}
.w-split-pane {
  flex: 1 1;
}
.w-split-horizontal > .w-split-bar {
  cursor: col-resize;
  width: 6px;
  height: 100%;
  box-shadow: inset 1px 0 0 0 #d5d5d5, 1px 0 0 0 #d5d5d5;
}
.w-split-horizontal > .w-split-bar::before,
.w-split-horizontal > .w-split-bar::after {
  height: 3px;
  width: 100%;
  box-shadow: inset 0 1px 0 0 #d5d5d5, 0 1px 0 0 #d5d5d5;
}
.w-split-horizontal > .w-split-bar::before {
  margin-top: -1px;
}
.w-split-horizontal > .w-split-bar::after {
  margin-top: 3px;
}
.w-split-vertical {
  flex-direction: column;
}
.w-split-vertical > .w-split-bar {
  cursor: row-resize;
  width: 100%;
  height: 6px;
  align-items: center;
  flex-direction: row;
  box-shadow: inset 0 1px 0 0 #d5d5d5, 0 1px 0 0 #d5d5d5;
}
.w-split-vertical > .w-split-bar::before,
.w-split-vertical > .w-split-bar::after {
  height: 100%;
  width: 3px;
  box-shadow: inset 1px 0 0 0 #d5d5d5, 1px 0 0 0 #d5d5d5;
}
.w-split-vertical > .w-split-bar::before {
  margin-left: -1px;
}
.w-split-vertical > .w-split-bar::after {
  margin-left: 3px;
}

